.certificate {
	color: #aaa;
	border: 1px dashed #888;
	background-color: #efefef;
	padding: 20px;
}

.warning {
	color: red;
	font-weight: bold;
}

.ok {
	color: green;
	font-weight: bold;
}

h1, h2, h3 {
	font-weight: bold;
	text-decoration: underline;
	padding: 20px;
}

textarea, input{
	border: 1px solid black;
}

#main {
	width: 777px;
	background-color: white;
	padding: 1.5em;
	margin: 0 auto 0 auto;
}

body {
	background-color: #aaa;
	margin-top:0px;
}
