.certificate {
	color: #aaa;
	border: 1px dashed #888;
	background-color: #efefef;
	padding: 20px;
}

#head {
background: url('cabecera.png') no-repeat 0px 0px;
height: 160px;
width: 777px;
	margin: 0 auto 0 auto;
}

.warning {
	color: red;
	font-weight: bold;
}

.ok {
	color: green;
	font-weight: bold;
}

h1, h2, h3 {
	font-weight: bold;
	text-decoration: underline;
	padding: 20px;
}

textarea, input{
	border: 1px solid black;
	width: 100%;
}

input {
	background-color: #eee;
}

#main {
	width: 677px;
	background-color: white;
	padding: 50px;
	padding-top: 1px;
	margin: 0 auto 0 auto;
}

.info {
	padding: 1em;
	background: url('green_deg.png') repeat-y 0px 0px;
	margin-bottom: 1em;
}

.user {
	color: #fff;
	background-color: green;
	padding-left: 3px;
	padding-right: 3px;
}

body {
	background-color: #aaa;
	margin-top:0px;
}

table {
        width: 100%;
        border: 1px dashed green;
}
th {
	background-color: green;
        color: white;
}
td {
        text-align: center;
        border-top: 1px solid green;
}
